.standard-icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: .3em;
}

.transition {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
    list-style: none;
    z-index: 100000;

    & li {
        transform: scaleY(1);
        background: white;
        width: 20%;
        z-index: 100;
    }
}

@media (min-width: 0px) {
    .fixed-btns {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 40%;
        transform-origin: 90% 30%;
        transform: rotate(270deg);
        z-index: 9997;

        a {
            color: white;
            background-color: $primary-color;
            padding: 5px 20px;
            text-decoration: none;
            margin-right: .5em;
        }
    }
}
         .donate-popup-overlay {
            background-color: rgba(0,0,0,.3);
            width: 100vw;
            height: 100vh;
            position: fixed;
            z-index: 9999;
            display: none;
            justify-content: center;
            align-items: center;

            & .donate-popup-content {
                background-color: white;
                position: fixed;
                top: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                max-width: 500px;
                height: 50vh;
                z-index: 9999;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                .close-popup {
                    position: absolute;
                    top: 1em; right: 1em;
                    cursor: pointer;
                }
            }
        }