@media (min-width: 0px) {
    .intro-container {
        width: 100%;
        background-color: #f9f9f9;

        .project-intro {
            position: relative;
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-content: center;
            flex-direction: column;
            height: 414px;
            padding: 3em 1em;
            max-width: 414px;
            margin: auto;

            & .intro-content {
                position: relative;
                font-family: "cookie", cursive;
                font-size: 1.8em;
                background-color: white;
                width: 90%;
                height: 115px;
                display: flex;
                justify-content: center;
                z-index: 2;
                align-items: center;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                align-self: center;
                margin-top: -60px;
                border-bottom: 2px solid $primary-color;

                & img {
                    width: .5em;
                    height: .5em;
                    position: absolute;
                    bottom: .1em;
                }
            }

            & .intro-img {
                height: max-content;
                z-index: 1;
                width: 100%;

                img {
                    object-fit: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    max-height: 100%;
                    max-width: 100%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .intro-container {
        width: 100%;

        .project-intro {
            position: relative;
            margin: auto;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            height: max-content;
            padding: 3em 1em;
            max-width: 768px;
            margin: auto;

            & .intro-content {
                font-family: "cookie", cursive;
                font-size: 1.8em;
                background-color: white;
                width: 354px;
                height: 150px;
                display: flex;
                justify-content: center;
                z-index: 2;
                align-items: center;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                align-self: center;
                justify-self: center;
                margin: auto;
                margin-left: -150px;
            }

            & .intro-img {
                height: max-content;
                z-index: 1;
                width: 450px;
                margin: auto;

                img {
                    object-fit: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    max-height: 100%;
                    max-width: 100%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .intro-container {
        width: 100%;

        .project-intro {
            position: relative;
            margin: auto;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            height: max-content;
            padding: 3em 1em;
            max-width: 1200px;
            margin: auto;

            & .intro-content {
                font-family: "cookie", cursive;
                font-size: 1.8em;
                background-color: white;
                width: 354px;
                height: 200px;
                display: flex;
                justify-content: center;
                z-index: 2;
                align-items: center;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                align-self: center;
                justify-self: center;
                margin: auto;
                border-radius: 15px;
                margin-left: -200px;
            }

            & .intro-img {
                height: max-content;
                z-index: 1;
                width: 550px;
                margin: auto;

                img {
                    object-fit: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 100%;
                    max-width: 100%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    border-radius: 15px;
                }
            }
        }
    }
}